@import './../../styles/variables.scss';

.Scanner {
    position: relative;
    video {
        max-width: 100%;
        vertical-align: top;
    }
    .drawingBuffer {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .controls,
    .input-group-close {
        left: 0;
        margin: 0;
        border:0;
        width: 100%;
        color: white;
        position: absolute;
        box-sizing: border-box;
    }
    .controls {
        top: 0;       
    }
    .input-group-close {
        bottom: 0;
        text-align: center;
    }
}