@import './../../styles/variables.scss';

.Scanner {
    position: relative;
    video {
        max-width: 100%;
        vertical-align: top;
    }
    .drawingBuffer {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .controls,
    .input-group-close {
        left: 0;
        margin: 0;
        border:0;
        width: 100%;
        color: white;
        position: absolute;
        box-sizing: border-box;
    }
    .controls {
        top: 0;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.74) 0%, rgba(0,0,0,0) 100%);
        .store-dropdown-label {
            color: white;
        }
        .store-dropdown {
            color: white;
            &:before,
            &:after {
                border-color: white;
            }
            svg {
                color: white;
            }   
        }     
    }
    .input-group-close {
        bottom: 0;
        text-align: center;
    }
}