{
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/preset-react",
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ]
    ]
}